<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links Favoritos</h1>
            <h3 class="mb-5">
                <em>Almacene los enlaces de su sitio web favorito</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empecemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>